<div class="relative flex items-center justify-center" @fadeInOut>
  <div
    class="z-10 mx-auto w-full max-w-md overflow-hidden rounded-3xl border-2 border-primary bg-white shadow-md shadow-primary dark:bg-transparent">
    <div class="group mx-auto max-w-md cursor-pointer transition duration-500 hover:scale-105">
      <div class="aspect-w-16 aspect-h-9 relative bg-gray-200">
        <!-- Toujours afficher l'image compressée au départ -->
        <img [src]="getMenuItemImage()" class="absolute top-0 left-0 h-full w-full object-cover" loading="lazy" />
      </div>

      <div class="flex min-h-[100px] flex-col p-4 sm:p-6">
        <div class="flex flex-row  justify-content-between">
          <p class="mb-1 text-[22px] font-bold leading-7 text-gray-700 dark:text-white">{{ item.title }}</p>
          <p  
            class="ml-16 font-semibold"
            [ngClass]="{
              'text-green-600': item.quantity > 0,
              'text-red-600': item.quantity === 0
            }">
            {{ item.quantity > 0 ? 'In Stock' : 'Out of Stock' }}
          </p>
        </div>

        <!-- Stock status display -->

        <div class="flex flex-row space-x-4">
          <div class="flex items-center space-x-1">
            <span class="text-[17px] font-bold text-red-500 line-through">
              {{ item.price }}
            </span>
            <span class="text-sm text-blue-500">
              {{ item.currency.symbol }}
            </span>
          </div>
          <div class="flex items-center space-x-1">
            <span class="text-[17px] font-bold text-[#0FB478]">
              {{ item.price * 0.8 | number: '1.2-2' }}
            </span>
            <span class="text-sm text-blue-500">
              {{ item.currency.symbol }}
            </span>
          </div>
        </div>

        <!-- Description de l'article (commentée pour l’instant) -->
        <!--
        <div>
          <p class="font-[15px] text-[#7C7C80] transition ease-in-out dark:text-white">
            {{
              showFullDescription || item.description.length <= 50
                ? item.description
                : (item.description | slice: 0:60) + '...'
            }}
          </p>
          <button *ngIf="item.description.length > 50" (click)="toggleDescription()" class="mt-2 text-primary">
            {{ showFullDescription ? 'Afficher moins' : 'Lire plus' }}
          </button>
        </div>
        -->

        <button
           [disabled]="item.quantity === 0"
          (click)="addToCart(item)"
          class="mt-4 w-full cursor-pointer rounded-[14px] bg-primary px-4 py-3 text-center font-medium capitalize tracking-wide text-white transition-colors duration-300 focus:outline-none focus:ring focus:ring-opacity-80 hover:opacity-75">
          Ajouter au panier
        </button>

        <!-- Bouton de soumission d'avis (commenté pour l’instant) -->
        <!--
        <button
          (click)="openReviewModal(item.id)"
          class="mt-4 w-full cursor-pointer rounded-[14px] bg-gradient-to-r from-purple-500 to-indigo-600 px-4 py-3 text-center font-medium capitalize tracking-wide text-white transition-colors duration-300 focus:outline-none focus:ring focus:ring-opacity-80 hover:opacity-75">
          Soumettre un avis
        </button>
        -->
      </div>
    </div>
  </div>
</div>
